@import "src/constants/variables.scss";

.main {
  width: 100%;
  background-color: #ececec;
  display: flex;
  .sxColumn {
    padding: 10px;
    @media all and (max-width: 800px) {
      & {
        width: 100px;
      }
    }
  }
  .dxColumn {
    width: 100%;
    padding: 10px;
  }
}
